.customer-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.top-nav {
    padding: 30px;
    justify-content: space-between;
    display: flex;

}



.form-area {
    background: white;
}